.containerMain {
    
}

.containerMain .contentMainDev {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 5.125rem;

  margin: 6rem auto; 
}

.containerMain .contentMainDev h1 {
  color: var(--white);
  font-family: "Maven Pro", sans-serif;

  margin: 15rem auto;
}

.containerMain .contentMainDev img:first-child {
  left: 5rem;
}

.containerMain .contentMainDev img:last-child {
  right: 5rem;
}

.containerMain .sectionDev {
  width: 65.75rem;
  height: 30.83rem;

  display: flex;
  flex-direction: row;

  gap: 6.25rem; 
}